<a href="https://colab.research.google.com/github/AdrianaPugarito/Pytom_Aprendendo/blob/main/Python_Introdu%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#A Linguagem Python

In [ ]:
print("Hello Galera")

Hello Galera

#Tipos de dados em Python

In [ ]:
print(type(27)) # o tipo de dados do numeros é int(numero inteiro) se coloco entre aspas é str string
print(type(5.7)) # o tipo de dados do numeros é float(numeros decimal)
print(type(5.7 + 27j)) # o tipo de dados do numeros é complex(numero complex)
print(type("Isso é um texto \n")) #entre aspas é uma string str
print(type(True)) #o tipo de texto False ou True é um boleano bol deve ir com maiusculas

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

# Variáveis

In [ ]:
nome = "Adriana" #variável seu valor é Adriana e os nomes das variáveis são em inglês
numero = 41
fracao = 8.5
print(nome, numero, fracao) #o print imprime e para imprimer varias variáveis temos que separar por virgulas

Adriana 41 8.5

#Concatenação e conversão de tipos de variáveis

In [ ]:
#Concatenar é como sumar as duas variáveis
nome = "Adriana"
sobrenome = "Lucia"
idade = 41 # não pode concatenar uma strig com outra, para que a idade seja declarada como variável tem que ter aspas
idade = "41" # essa é a forma correta, so consegue concatenar string com enteiros

primeiro_numero = 20
segundo_numero = 21
#print(primeiro_numero + segundo_numero) # não vai concatenar porque não tem aspas

primeiro_numero = "20"
segundo_numero = "21"
print(type(primeiro_numero +" " +segundo_numero))

nome = input("Digite seu nome ") #o imput espera que voce coloque os dados e se esta sem aspas e quando os dados estão 

print(type(idade))

print(nome, sobrenome, idade)
print(nome + " " +sobrenome) # a strinr vacia no medio que esta entre aspas é so para espaço
print("Oi meu nome é: " + nome +" " + sobrenome + " e minha idade é " + str(idade)) #se eu quero imprimir minha idade como enteiro tem que colocar que ela e uma string
print("Oi meu nome é: " ,nome, " e minha idade é ",idade,) #as virgulas são formatadoras também esse pode ser outra forma de fazer

print(type(idade))
print(type(str(idade))) #resulta STR

print(type(idade))

str()

numero_inteiro = 100
numero = float(numero_inteiro)
print(numero_inteiro, numero)

#teste_conversão = "45a" voce não pode converter nada absurdo nem numero con letra, barra ou outra coisa com ponto sim
teste_conversão = 45.1
teste_conversão_string = float(teste_conversão)
print(teste_conversão)
print(teste_conversão_string)

numero_complexo_string = "1+5j" #sem espaços entre + e cada numero porque ele pega os espaços como caracter e da erro
numero_complexo = complex(numero_complexo_string)

<class 'str'>
Digite seu nome Adriana
<class 'str'>
Adriana Lucia 41
Adriana Lucia
Oi meu nome é: Adriana Lucia e minha idade é 41
Oi meu nome é:  Adriana  e minha idade é  41
<class 'str'>
<class 'str'>
<class 'str'>
100 100.0
45.1
45.1

#Quem é vocé? Imprima seu nome, sua idade e qual será sua idade no próximo ano.

In [ ]:
nome = "Adriana"
idade = 41 #tem que ser sem aspas para ele saber que e um enteiro

print("Meu nome é " + nome + " tenho " + str(idade) + " o ano que vem minha idade será " + str(idade + 1))

Meu nome é Adriana tenho 41 o ano que vem minha idade será 42

#Operação com boleanos

In [ ]:
True + True # quando eu falo pra o computador que tenho um true ele entende que e um numero 1
True * False #quando eu falo pra o computador que tenho um false ele entende que e um numero 0
(True + 4) * False #todo numero multiplicado por zero da zero
(True + 4) * True #ele faz primeiro o que esta entre parênteses

5


#Entre com o valor da conta de un restaurant e calcule a gorjeta do garçom, nesse restaurant a gorjeta do garçom é de 10 por cento

In [ ]:
valor_da_conta = float(input("Insira o valor da conta ")) # float numero flutuante contem o input que e uma função que recebe um valor
gorjeta = valor_da_conta * 0.10
print(valor_da_conta)
print(gorjeta)

Insira o valor da conta 500
500.0
50.0

#Manipulação de String

In [ ]:
teste = "Primeiro Teste"
segundo_teste = "Este é outro teste"

type(teste) #Tipo de dados da variável
len(teste) #Tamanho da variável

sub = teste.replace(teste, "Lucia") #Subtituçaõ do valor da variável

print(teste.replace(teste, "Lucia")) #Assim também esta certo para fazer subtitução do valor da variável

print(sub) #Concatenação

Lucia
Lucia

#Operadores de Atribuição

In [ ]:
a = 1
b = 10
c = 15
d = 20
e = 50

a += 1 #equivalente a = +1 ou seja o valor de a e igual mais 1
b -= 1 #equivalente b = -1 ou seja o valor de b e igual menos 1
c *= 1 #equivalente c = *1 ou seja o valor de c e igual por 1
d /= 1 #equivalente d = /1 ou seja o valor de d e igual entre
e %= 1 #equivalente e = %1 ou seja o valor de e é igual  

print(a)
print(b)
print(c)
print(d)
print(e)

2
9
15
20.0
0

#Operadores de Comparação

In [ ]:
print(7 == 7) # (==) Representa igualdade
print(2.5 == 2.5)
print("texto" == "texto")

A = "(1 > 2)"
print("Valore de A:", A) 

print( 10 > 9) # Verifica se numero da esquerda é maior ao número da direita
print( 8 < 9) # Verifica se numero da esquerda é menor ao número da direita

print( 10 >= 9) # Verifica se numero da esquerda é maior ou igual ao número da direita
print( 7 <= 9) # Verifica se numero da esquerda é menor ou igual  ao número da direita

print( 7 != 9) # Verifica se numero da esquerda é menor ou igual  ao número da direita

#Entendendo o que são os comentários de última/várias linhas

In [ ]:
# Esse é um comentario de uma linha
# Outro comentário
''' Esse é um comentario de uma linha '''

#Exibindo valores númericos formatados

In [ ]:
medida_polegada = float(input("Informe a medida em polegada: "))
medida_centimetro = medida_polegada * 2.54
saida = "A saida " + str(medida_polegada) + "polegadas em centimetros é: " + str(medida_centimetro) # Não é possivel concatener valores númericos
print(f" A medida de {medida_polegada} polegadas em centimetro e:{medida_centimetro:.2f} ")
print(saida)

#Formatação de blocos e indentação

In [ ]:
print("Primeiro nível de indentação")#primeiro nível 

if(True):
  print("Segundo nível de indentação")#segundo nível

# A identação se aplica com 2 espaços ou um tab

#Importando bibliotecas - Trabalhando com data e hora

In [ ]:
from math import sqrt
print(sqrt(25))

from datetime import datetime
from datetime import date
from dateutil import tz


data_hj = date(year=2021, month=8, day=25)
print(data_hj)
 

print(datetime.today()) # Data atual
print(datetime.now().isoformat()) # Data atual

print(datetime.today().strftime('%Y-%d-%m'))# Alterando o formato da data
print(datetime.today().strftime('%Y-%m-%d %H:%M')) # Tirando os milesegundos
print(datetime.today().strftime('%A, %B %d, %Y %H:%M:%S'))# Incluindo os dias da semana 
print(datetime.today(), tz.tzlocal()) # Data atual

#Números Formatados

In [ ]:
porcentagem = 0.10
valor_conta = 500
Gorjeta = "A gorjeta do garçom"

# Gorjeta ="A gorjeta do garçom é " +  (porcentagem) * (valor_conta) # Errado
print(Gorjeta)

# Primeira solução
Gorjeta ="A gorjeta do garçom é " +  str((porcentagem) * (valor_conta))
print(Gorjeta, "Conversão de tipos")


# print("A gorjeta do garçom é" (porcetagem) * (valor_conta))

porcentagem = 0.10
valor_conta = 500
Gorjeta1 = "A gorjeta do garçom"

Gorjeta1 = porcentagem + valor_conta
print (Gorjeta1)

<class 'str'>
A gorjeta do garçom é : A gorjeta do garçon é50.0

In [ ]:
porcentagem = 0.10
valor_conta = 500
Gorjeta1 = "A gorjeta do garçom"

Gorjeta1 = porcentagem * valor_conta
print (Gorjeta1)

#Lista

In [ ]:
frutas = ["maça", "Banana", "Abacate", "Uva"] #tem que ir entre aspas
print(frutas)
print(type(frutas))
print(len(frutas))

frutas[3] = "Manga" # Alterando valor do elemento na lista
print(frutas)

frutas.append("Laranja") # Inserindo novo elemento na lista
frutas.append(" ") # Inserindo novo elemento na lista

print(frutas)

frutas.insert(0, "Morango")#Inserindo novo elemento na lista utlizando insert()
print(frutas)

frutas.remove("Morango") # Remove informando o parametro
print(frutas)

frutas.pop(1)
print(frutas)

numeros = [1,2,3,4] # naõ pode ter aspas quanda trata se de numeros senão pode ser identificado como string ou seja texto
print(numeros[3])
print(len(frutas))

numeros = [7,1,5,3,4, True, "Texto", ["elemnto1", "elemento2"]] #imprimir uma lista dentro da minha lista
frutas.sort()
print(frutas)

numeros[7].insert(2, "elemento3", "elemento2")
print(numeros[7][1]) #imprime minha lista mas o elemento dentro de essa lista especificamente o lugar 7 e 1
print(len(frutas))

['maça', 'Banana', 'Abacate', 'Uva']
<class 'list'>
4
['maça', 'Banana', 'Abacate', 'Manga']
['maça', 'Banana', 'Abacate', 'Manga', 'Laranja', ' ']
['Morango', 'maça', 'Banana', 'Abacate', 'Manga', 'Laranja', ' ']
['maça', 'Banana', 'Abacate', 'Manga', 'Laranja', ' ']
['maça', 'Abacate', 'Manga', 'Laranja', ' ']
4
5
[' ', 'Abacate', 'Laranja', 'Manga', 'maça']
elemento2
5

#Dicionario

In [ ]:
dicionario = {'nome':'Danilo', 'idade': 35, 'altura':1.80} # o dicionario recebe uma chave um valor
dicionario1 = {'feira': ['banana', 'maça', 'uva'], 'nome': 'Danilo'} #colocando um nome dentro de um dicionario feira
lista = ["Danilo",35,1,80] #com a lista é assim
dicionario['cpf'] = 56689298248
dicionario.pop('altura', None) #o pop é para remover um item

print(dicionario1)
print(dicionario)# no caso quando colocamos o pop removimos altura quando pedimos fazer o print do dicionario completo
print(dicionario['nome'], dicionario['idade'], dicionario ['cpf'])#para fazer um print de dicionario tem que ter chaves

{'feira': ['banana', 'maça', 'uva'], 'nome': 'Danilo'}
{'nome': 'Danilo', 'idade': 35, 'cpf': 56689298248}
Danilo 35 56689298248

#Laços, repetição e operadores condicionais

In [ ]:
idade = int(input("Digite sua idade : \n")) #para que faça um print do quadro para q a pessoa digite sua idade
amigo = bool(input("Voce é amigo do dono? : \n"))
#print(idade) assim e so para colocar a idade

if idade > 18 or amigo == "Sim": # e assim e para colocar se e menor de 18 não pode entrar
  print("Pode entrar")
#elif amigo == "Sim"
  print("Pode entrar")
else:
  print("Va para casa")

Digite sua idade :
15
Voce é amigo do dono? :
16
Va para casa

#Enquanto

In [ ]:
numero = 50 #while significa se for
while numero > 10:
  print(numero)
  numero =  numero - 10
print("Pode parar") # tem que ter essa condição senão entre en lop eterno por esso e o 10 para ir tirando 10 de 50 ne para

50
40
30
20
Pode parar

#Para cada

In [1]:
lista = [1,2,3,4]
i = 1
while i < len(lista): ##enquanto i for menor que minha lista\ sempre ao declarar deve levar dos pontos
  lista[i] = lista[i] + 2 # ele vai imprimir a lista mais dois
  i = i + 1
print(lista)

lista2 = []
for item in lista:  #for é para cada então para cada item da minha lista faça
  lista2.append(item + 1)
print(lista2)

[1, 4, 5, 6]
[2, 5, 6, 7]

#Funções

In [2]:
def hello(meu_nome):
  print("Ola meu nome é:", meu_nome)

hello("Fabio") #chamando a função 

def calcular_gorjeta(valor_conta, porcentagem):
  gorjeta = valor_conta * porcentagem
  return gorjeta

calcular_gorjeta(590, 0.1)

Ola meu nome é: Fabio

59.0